
<% if @product.errors.any? %>
  <div class="alert alert-danger">
    <% @product.errors.full_messages.each do |message| %>
      <%= message %> <br>
    <% end %>
  </div>
<% end %>

<%= form_for @product do |f| %>
  <div class="form-group">

    <div class="form-group">
      <label> Nom du produit</label>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="category"> Catégorie</label>
      <%= f.select :category_id, Category.pluck(:name, :id) %>
    </div>

    <div class="form-group">
      <label> Slug pour URL</label>
      <%= f.text_field :slug, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Déscription</label>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Publier le produit</label>
      <%= f.check_box :online %>
    </div>

    <div class="form-group">
      <%= f.submit 'Envoyer' , :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>


<%= link_to 'Retour', root_path, class: "btn btn-default" %>
